@model SalesWebMvc1.Models.Entities.Seller

@{
    ViewData["title"] = "Details";
}

<h1>Details</h1>
<hr />

<div class="colalign-content-md-start">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        <dt />
        <dd>
                @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
                @Html.DisplayNameFor(model => model.BaseSalary)
        <dt />
        <dd>
                    @Html.DisplayFor(model => model.BaseSalary)
        </dd>
        <dt>
                    @Html.DisplayNameFor(model => model.Department.Name)
        <dt />
        <dd>
                        @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <div>
            <a role="button" class="btn btn-danger" asp-action="Index" asp-controller="Seller">Back</a>
        </div>
    </dl>
</div>